<template name="terminalAccess">
  <div class="panel panel-default">
    <div class="panel-heading">Terminal Access</div>
    <div class="panel-body">
      <pre class="terminal-output">{{ terminalOutput }}</pre>
    </div>
    <div class="panel-body">
      <form class="terminal-input">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" name="command" required>
          </div>
          <div class="col-md-2">
            <input type="submit" class="btn btn-primary btn-block" name="submit" value="Execute">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
