html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

div.content {
  padding-top: 60px;
  background-image: url('/img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Components */
table.connected-devices {
  margin: auto;

  td {
    font-size: 1em;
  }
}
